body img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header {
  background: url("../images/banner.jpg") center center/cover no-repeat,
    rgb(13, 129, 111);
  border: solid 1px black;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 73px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header a {
  border-bottom: orangered dashed 1px;
}
h1 {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
}
