body img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

main section img:first-of-type {
  border-radius: 20px;
}
header {
  background: url("../images/banner.jpg") center center/cover no-repeat,
    rgb(13, 129, 111);
  border: solid 1px black;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  padding: 73px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
header a {
  border-bottom: orangered dashed 1px;
}

h1 {
  color: #091bba;
  font: open sans;
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
}
p {
  color: #111111;
  font-family: "monserrat", sans-serif;
  font-size: 1.65em;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}
div {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 900px;
  text-align: center;
  background-color: red;
}
div h1 {
  color: white;
  font-family: "monserrat", sans-serif;
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
}
div p {
  color: white;
  font-family: "monserrat", sans-serif;
  font-size: 1.65em;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}
a img {
  border-radius: 303px;
}

footer {
  margin: 50px auto;
  padding: 0 20px;
  max-width: 900px;
  text-align: center;
  background-color: #c8e7f0;
}
